# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Gurobi LP and Log files
*.lp
*.sol
*.log

# EPANET input and report files
*.inp
*.rpt
